@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

a {
    text-decoration: none;
    color: black;
    font-family: montserrat;
    display: flex;
}

@media (max-width: 1048px){
    a:hover {
        color: #3498db;
        transition: all 0.5s ease-out;

        text-align: center;

    }
}
